[Unit]
Description=Party Button Service
After=sys-devices-platform-soc-3f00b840.mailbox-bcm2835_audio-sound-card1-controlC1.device
After=multi-user.target
Requires=sys-devices-platform-soc-3f00b840.mailbox-bcm2835_audio-sound-card1-controlC1.deviceS
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=dbuchan
Group=audio
Environment="XDG_RUNTIME_DIR=/run/user/1000"
Environment="PULSE_RUNTIME_PATH=/run/user/1000/pulse/"
StandardOutput=null
StandardError=journal
WorkingDirectory=/home/dbuchan/party_button/
ExecStart=/home/dbuchan/party_button/pb_venv/bin/python /home/dbuchan/party_button/party_button.py

[Install]
WantedBy=multi-user.target
WantedBy=sound.target