{% extends "./base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="row">
    <div class="col">
      <a href="/"><button type="button" class="btn btn-success">Play Mode</button></a>&nbsp;<a  href="/tracks"><button type="button" class="btn btn-secondary">Track Management</button></a>&nbsp;<a href="/playlists"><button type="button" class="btn btn-secondary">Playlist Management</button></a>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col">
       <h2>Select Playlist</h2>
       PUT A DROP DOWN HERE<br />
       <input type="submit" form="playlist_form" value="Select" id="playlist_select" name="playlist_select"></input>
    </div>
  </div>
  <hr>
  <div class="row">
      <div class="col">
         <h2>Set Play Time</h2>
         <form id="playtime_form" id="name_form" action={% url 'mp3_manager:index' %} method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ playtimeform|crispy }}
         <input type="submit" form="playtime_form" value="Update" id="playtime_update" name="playtime_update"></input>
         </form>
      </div>
  </div>
{% endblock %}