{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>PARTY BUTTON</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col">
        <h1>Welcome to PARTY BUTTON</h1>
        {% if form_errors %}
            <div class="alert">{{ form_errors }}</div>
        {% endif %}
            <form action=""{% url 'mp3_manager:index' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit", value="Upload">
        </form>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">
        <h1>Track List</h1>
        {% if tracks_list %}
            <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                <thead><tr><th></th><th colspan="2">Start Time</th><th></th></tr>
                <tr><th>Track Name</th><th>Min</th><th>Sec</th><th></th></tr></thead>
                <tbody>
                {% for track in tracks_list %}
                  <tr><td>{{ track.name }}</td><td>{{ track.minutes }}</td><td>{{ track.seconds }}</td><td><button type="button" class="btn btn-danger"><a href="{% url 'mp3_manager:delete_track' pk=track.pk %}">Delete</a></button></td></tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
          <p><h2>No tracks available.</h2></p>
        {% endif %}
        </div>
    </div>
</div>

</body>
</html>
