{% extends "./base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="row">
    <div class="col">
      <a href="/"><button type="button" class="btn btn-success">Play Mode</button></a>&nbsp;<a  href="/tracks"><button type="button" class="btn btn-secondary">Track Management</button></a>&nbsp;<a href="/playlists"><button type="button" class="btn btn-secondary">Playlist Management</button></a>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <h2>Current Playlist</h2>
      <h3>{{ playtime.playlist_selection }}</h3>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
       <h2>Select Playlist</h2>
       <form id="selectplaylist_form" id="selectplaylist_form" action={% url 'mp3_manager:selectplaylist' %} method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <select  class="form-select"  id="playlist_selection" name="playlist_selection">
        {% for playlist in playlists %}
          <option value="{{ playlist.pk }}">{{ playlist }}</option>
        {% endfor %}
        </select><br>
        <input class="btn btn-secondary" type="submit" form="selectplaylist_form" value="Select" id="selectplaylist_submit" name="selectplaylist_submit"></input>
       </form>
    </div>
  </div>
  <hr>
  <div class="row">
      <div class="col">
         <h2>Set Play Time</h2>
         <form id="playtime_form" id="name_form" action={% url 'mp3_manager:index' %} method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ playtimeform|crispy }}
         <input class="btn btn-secondary" type="submit" form="playtime_form" value="Update" id="playtime_update" name="playtime_update"></input>
         </form>
      </div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <h2>Scene Control</h2>
      <table>
      <tr>
      <td>
      <form id="lightsctl_form" id="lightsctl_form" action={% url 'mp3_manager:index' %} method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if playtime.lights_only == True %}
          <input type="submit" class="btn btn-success" value="Lights Only" form="lightsctl_form" id="lightsctl_submit" name="lightsctl_submit">
        {% else %}
          {% if playtime.music_only == True %}
            <input type="submit" class="btn btn-danger" value="Lights Off" form="lightsctl_form" id="lightsctl_submit" name="lightsctl_submit">
          {% else %}
            <input type="submit" class="btn btn-info" value="Lights On" form="lightsctl_form" id="lightsctl_submit" name="lightsctl_submit">
          {% endif %}  
        {% endif %}
      </form>
      </td>
      <td>
        <form id="musicctl_form" id="musicctl_form" action={% url 'mp3_manager:index' %} method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {% if playtime.music_only == True %}
          &nbsp;<input type="submit" class="btn btn-success" value="Music Only" form="musicctl_form" id="musicctl_submit" name="musicctl_submit">
        {% else %}
          {% if playtime.lights_only == True %}
          &nbsp;<input type="submit" class="btn btn-danger" value="Music Off" form="musicctl_form" id="musicctl_submit" name="musicctl_submit">
          {% else %}
          &nbsp;<input type="submit" class="btn btn-info" value="Music On" form="musicctl_form" id="musicctl_submit" name="musicctl_submit">
          {% endif %} 
        {% endif %}
      </form>
      </td>
      </tr>
      </table>
    </div>
</div>
{% endblock %}