{% extends "./base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="row">
    <div class="col">
      <a href="/"><button type="button" class="btn btn-secondary">Play Mode</button></a>&nbsp;<a  href="/tracks"><button type="button" class="btn btn-secondary">Track Management</button></a>&nbsp;<a href="/playlists"><button type="button" class="btn btn-success">Playlist Management</button></a>
    </div>
  </div>
  <hr>
    <div class="row">
        <div class="col">
           <h2>Add New Playlist</h2>
           <form id="addplaylist_form" id="addplaylist_form" action={% url 'mp3_manager:addplaylist' %} method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ playlistform|crispy }}
            <input type="submit" form="addplaylist_form" value="Add" id="addplaylist_submi" name="addplaylist_submit"></input>
           </form>
        </div>
    </div>
    <hr />
    <div class="row">
      <div class="col">
         <h2>Remove Playlist</h2>
         <form id="removeplaylist_form" id="removeplaylist_form" action={% url 'mp3_manager:removeplaylist' %} method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <select id="playlist_selection" name="playlist_selection">
          {% for playlist in playlist_list %}
            <option value="{{ playlist.pk }}">{{ playlist }}</option>
          {% endfor %}
          </select><br><br>
        <input type="submit" form="removeplaylist_form" value="Delete" id="removeplaylist_submi" name="removeplaylist_submit"></input>
         </form>
      </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">
          <h2>Assign Tracks To Playlists</h2>
          playlist dropdown<br>
          track dropdown<br>
          submit button<br>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">
          <h2>Playlists</h2>
          list all playlists<br>
        </div>
    </div>
{% endblock %}