{% extends "./base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
  <div class="col">
    <a href="/"><button type="button" class="btn btn-secondary">Play Mode</button></a>&nbsp;
    <a  href="/tracks"><button type="button" class="btn btn-success">Track Management</button></a>&nbsp;
    <a href="/playlists"><button type="button" class="btn btn-secondary">Playlist Management</button></a>
    <a href="/lights"><button type="button" class="btn btn-secondary">Light Management</button></a>
  </div>
</div>
<hr>

<div class="row">
    <div class="col">
    <h2>Upload Track</h2> 
    {% if form_errors %}
        <div class="alert">{{ form_errors }}</div>
    {% endif %}
        <form id="track_form" name="track_form" action={% url 'mp3_manager:tracks' %} method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-secondary" type="submit" form="track_form" value="Upload (~25 seconds)" id="track_upload" name="track_upload"></input>
        </form>
    </div>
</div>
<hr />
<div class="row">
    <div class="col">
    <h2>Track List</h2>
    {% if tracks_list %}
        <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
            <thead><tr><th></th><th colspan="3">Start Time</th><th colspan="5">Overrides</th><th colspan="3"></th></tr>
            <tr><th>Track Name</th><th>Min</th><th>Sec</th><th></th><th>Solo?</th><th>Play Whole Track?</th><th>Override global playtime?</th><th colspan="2">Track playtime (seconds)</th><th colspan="2">BPM (HUE bulb sync)</th><th>Remove</th></tr></thead>
            <tbody>
              {% for track in tracks_list %}
              <tr>
                  <td>{{ track.name }}</td>
                  <form id="trackstart_form_{{ track.pk }}" id="trackstart_update_{ track.pk }}" action={% url 'mp3_manager:tracks' %} method="post" enctype="multipart/form-data">
                    {% csrf_token %}  
                  <td>
                    <input size="2" type="textarea" id="minutes" name="minutes" value={{ track.minutes }}>  
                  </td>
                  <td>
                    <input size="2" type="textarea" id="seconds" name="seconds" value={{ track.seconds }}>    
                  </td>
                  <td>
                    <input type="hidden" id="pk" name="pk" value="{{ track.pk }}">  
                    <input class="btn btn-secondary" type="submit" form="trackstart_form_{{ track.pk }}" value="Update" name="trackstart_update_{{ track.pk }}"></td>
                </form>
                  <td>
                      {% if track.solo == True %}
                        <a href="{% url 'mp3_manager:solo_track' pk=track.pk %}"><button type="button" class="btn btn-success">Solo</button></a>
                      {% else %}
                        <a href="{% url 'mp3_manager:solo_track' pk=track.pk %}"><button type="button" class="btn btn-primary">Solo</button></a>
                      {% endif %}
                  </td>
                  <td>
                    {% if track.play_full == True %}
                      <a href="{% url 'mp3_manager:play_full' pk=track.pk %}"><button type="button" class="btn btn-success">Using Whole Track</button></a>
                    {% else %}
                      <a href="{% url 'mp3_manager:play_full' pk=track.pk %}"><button type="button" class="btn btn-primary">Using Play Time Settings</button></a>
                    {% endif %}
                  </td>
                  <td>
                    {% if track.override_playtime == True %}
                      <a href="{% url 'mp3_manager:override' pk=track.pk %}"><button type="button" class="btn btn-success">Using Track's Playtime</button></a>
                    {% else %}
                      <a href="{% url 'mp3_manager:override' pk=track.pk %}"><button type="button" class="btn btn-primary">Using Global Play Time</button></a>
                    {% endif %}
                  </td>
                  
                  <form id="trackplaytime_form_{{ track.pk }}" id="trackplaytime_update_{{ track.pk }}" action={% url 'mp3_manager:tracks' %} method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                  <td>
                      <input size="2" type="textarea" id="playtime_seconds" name="playtime_seconds" value={{ track.playtime_seconds }}>
                  </td>
                  <td>
                      <input type="hidden" id="pk" name="pk" value="{{ track.pk }}">
                      <input class="btn btn-secondary" type="submit" form="trackplaytime_form_{{ track.pk }}" value="Update" name="trackplaytime_update_{{ track.pk }}">
                  </td>
                  </form>
                  
                  <form id="trackbpm_form_{{ track.pk }}" id="trackbpm_update_{{ track.pk }}" action={% url 'mp3_manager:tracks' %} method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                  <td>
                      <input size="2" type="textarea" id="bpm" name="bpm" value={{ track.bpm }}>
                  </td>
                  <td>
                      <input type="hidden" id="pk" name="pk" value="{{ track.pk }}">
                      <input class="btn btn-secondary" type="submit" form="trackbpm_form_{{ track.pk }}" value="Update" name="trackbpm_update_{{ track.pk }}">
                  </td>
                  </form>
                  
                  <td><a href="{% url 'mp3_manager:delete_track' pk=track.pk %}"><button type="button" class="btn btn-danger">Delete</button></a></td></tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
      <p><h2>No tracks available.</h2></p>
    {% endif %}
    </div>
</div>

{% endblock %}